ion-header{
    ion-toolbar{
      color: white;
      --background: #7353a2;
    }
    .top-row{
      display: flex;
      justify-content: flex-end;
      margin-right: 2rem;
      ion-button{
          margin-left: 2rem;
        --background: transparent;
      }
    }
}
ion-content{
  --background: #f6efff;
  h1{
    font-size: 1.5rem;
    color: #544a61;
  }
  h2{
    font-size: 1.2rem;
    margin-left: 1rem;
    color: #f2805a;
    margin-top: 1rem;
  }
  .total-item{
    margin-top: 1rem;
  }
  .total{
    font-size: 1.8rem;
    font-weight: 500;
  }
  .details{
    display: flex;
    align-items: baseline;
  }
  .items{
    border-bottom: 1px dashed lightgray;
    border-top: 1px dashed lightgray;
    display: flex;
    align-items: center;
  }
  .country{
    margin-bottom: 2rem;
  }
}