ion-content{
    font-family:HindSiliguri !important;
    --background: url('../../../assets/image/fond.png') no-repeat center center / cover;
        .container{
            color: #020122;
            font-family:HindSiliguri !important;
            .top-row{
                
                display: flex;
                flex-wrap: nowrap;
                align-items: flex-end;
                ion-button{
                    --background: #7353A2;
                }
                h1{
                    margin-top: 3rem;
                    font-size: 1.5rem;
                    color: white;
                }
            }
            .reset{
               margin-top: 5rem;
            }
        }
    .col-reset{
        ion-button{
            --background: linear-gradient(to left, #7353A2, #9198e5);
            margin-top: 1rem;
            width: 100%;
            font-size: 1.1rem;
            border-radius: 5px;
        }
    }
}