ion-header{
    ion-toolbar{
      color: white;
      --background: #7353a2;
    }
      .top-row{
        display: flex;
        justify-content: flex-end;
        margin-right: 2rem;
        ion-button{
            margin-left: 2rem;
          --background: transparent;
        }
    }
}
ion-content{
  --background: #f6efff;
    ion-avatar{
        --border-radius: 10px;
    }
    ion-title{
        font-size: 0.8rem;
        font-weight: 600;
        padding: 0;
    }
    ion-label{
        font-size: 0.6rem;
    }
}