<ion-header>
  <ion-toolbar>
    <ion-row class="top-row" size="12">
      <ion-title>Catalogue</ion-title>
      <a (click)="openCart()" #cart>
        <ion-icon name="cart-outline" class="cart-icon"></ion-icon>
      </a>
      <div class="cart-length">
        {{ cartItemCount | async }}
      </div>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="sliderConfig">
    <ion-slide class="slide1" *ngFor="let cour of courses">
      <ion-card class="card-home">
        
        
      <ion-card-header class="card-body">
        <img [src]="cour.image"/>
      </ion-card-header>
      <ion-card-content>
        <div>
          <h3>{{ cour.title }}</h3>
        </div>
        
        
        
        
          <ion-row class="auteur">
            <cite>{{ cour.description }}</cite>
            <cite>{{ cour.author }}</cite>
          </ion-row>
          <ion-row class="card-footer">
            <ion-col size="6">
              <ion-icon name="star-sharp" *ngIf="cour.rate > 1 else elseBlock"></ion-icon>
                <ng-template #elseBlock><ion-icon name="star" class="toto"></ion-icon></ng-template>
                <ion-icon name="star-sharp" *ngIf="cour.rate > 2 else elseBlock"></ion-icon>
                <ng-template #elseBlock><ion-icon name="star" class="toto"></ion-icon></ng-template>
                <ion-icon name="star-sharp" *ngIf="cour.rate > 3 else elseBlock"></ion-icon>
                <ng-template #elseBlock><ion-icon name="star" class="toto"></ion-icon></ng-template>
                <ion-icon name="star-sharp" *ngIf="cour.rate > 4 else elseBlock"></ion-icon>
                <ng-template #elseBlock><ion-icon name="star" class="toto"></ion-icon></ng-template>
                <ion-icon name="star-sharp" *ngIf="cour.rate > 5 else elseBlock"></ion-icon>
                <ng-template #elseBlock><ion-icon name="star" class="toto"></ion-icon></ng-template>
            </ion-col>
            <ion-col size="6">
              <span>{{ cour.price }},00€</span>
              <span>{{ cour.datePublish }},00€</span>
            </ion-col>
          </ion-row>
        <ion-row class="review">
          <ion-col><span>Les avis(12)</span></ion-col>
        </ion-row>
      </ion-card-content>
      <ion-button (click)="addToLocalStorage(cour)">Ajouter au panier</ion-button>
    </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
