
<ion-content>
  <div class="header">
  
  </div>
  <ion-row class="logo">
    <ion-col size="12" class="ion-align-self-center">
        <input type="button">
        <ion-icon name="add-circle-outline" (click)="uploadPicture()"></ion-icon>
    </ion-col>
    <ion-col size="12" class="user_name">
      <span>{{userName}}</span>
    </ion-col>
  </ion-row>
  <ion-row class="row-item">
    <ion-col size="4" class="item-profile">
      <ion-icon name="book-outline"></ion-icon>
        <span><a routerLink="/tabs/tuto">Tutos</a></span>
    </ion-col>
    <ion-col size="4" class="item-profile">
      <ion-icon name="card-outline"></ion-icon>
      <span><a routerLink="/tabs/paiement">Paiements</a></span>
    </ion-col>
  </ion-row>
  <ion-row class="row-item bottom">
    <ion-col size="4" class="item-profile">
      <ion-icon name="help-outline"></ion-icon>
      <span (click)="faq()">FAQ</span>
    </ion-col>
    <ion-col size="4" class="item-profile" (click)="edit()">
      <ion-icon name="create-outline"></ion-icon>
      <span>Éditer</span>
    </ion-col>
  </ion-row>
</ion-content>
