ion-content{
    --background: #f6efff;
        
            
    
    
    h2{
        font-size: 1.2rem;
        margin-left: 1rem;
        color: #544a61;
    }
    --background: #f6efff;
    .header{
        width: 100%;
        height: 200px;
    }
    .logo {
        background: #7353a2;
  
            .turn{
                display: flex;
                align-content: center;
                align-items: center;
                justify-content: center;
                width: 50%;
                position: relative;
                margin: auto;
                margin-top: 8rem;
                #avatar{
                    width: 100px;
                    height: 100px;
                    position: absolute;
                    --border-radius: 50%;
                    border: 2px solid #7353A5;
                }
                ion-button{
                    color: #7353a2;
                    position: absolute;
                    top: 12px;
                    left: 20px;
                    font-size: 1.5rem;
                    border-radius: 50%;
                    --background: transparent;
                    --box-shadow: none;
                    ion-icon{
                        font-size: 1.6rem;
                        color: #7353a2;
                        background: #f6efff;
                        border: 2px solid;
                        border-radius: 50%;
                    }
                }
            }
            img {
                width: 100px;
                border-radius: 50%;
            }
        
        
    }
    .user_name{
        font-size: 1.5rem;
        font-weight: 550;
        margin-top: 4rem;
        span{
            color: #544a61;
        }
    }
    .row-item{
        p{
            font-size: 0.8rem;
            padding-left: 12px;
            color: #544a61;
        }
        a{
            font-size: 0.8rem;
            padding-left: 12px;
            text-decoration: none;
            color: #544a61;
        }
        .contact{
            span{
                font-size: 0.8rem;
                padding-left: 12px;
                text-decoration: none;
                color: #544a61;
            }
        }
    }
    .bottom{
        margin-top: 1rem;
    }
    .logout{
        text-align: center;
        margin-top: 1rem;
        ion-col{
            
            ion-button{
                --background: crimson;
                font-size: 1rem;
            }
            ion-icon{
                margin-right: 10px;
            }
        }
    }
    ion-footer{
        
            content: none;
        
        margin: 1rem 0 1rem 0;
        ion-row{
            display: flex;
            justify-content: center;
            img{
                width: 50px;
            }
        }
        .copy-rights{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            .cite-v{
                color: black;
                font-style: normal;
                font-size: 1rem;
                margin: 0.3rem 0 0.3rem 0;
            }
            cite{
                color: grey;
                font-size: 0.8rem;
            }
        }
    }
}