
<ion-content>
  <div class="header">
  
  </div>
  <ion-row class="logo">
    <ion-col size="12" class="ion-align-self-center">
        <img [src]="avatar">
    </ion-col>
    <ion-col size="12" class="user_name">
      <span>{{userName}}</span>
    </ion-col>
  </ion-row>
  <ion-row size="12" class="info">
    <h2>Mes informations</h2>
  </ion-row>
  <ion-row class="row-item">
      <ion-col size="12" class="item-profile" (click)="edit()">
        <ion-item>
          <ion-icon name="person-outline"></ion-icon>
          <p>Mes coordonnées & mot de passe</p>
        </ion-item>
        <ion-item>
          <ion-icon name="card-outline"></ion-icon>
          <p>Mes paiements</p>
        </ion-item>
        <ion-item>
          <ion-icon name="school-outline"></ion-icon>
          <p>Mes Tutos</p>
        </ion-item>
    </ion-col>
  </ion-row>
  <ion-row size="12">
    <h2>Contact</h2>
  </ion-row>
  <ion-row class="row-item">
    <ion-col size="12">
      <ion-item>
        <ion-icon name="send-outline"></ion-icon>
        <p>Nous contacter</p>
      </ion-item>
  </ion-col>
</ion-row>
  <ion-row class="logout">
    <ion-col size="12" (click)="logout()" text-align>
      <ion-button expanded="full">
        <ion-icon name="power-outline"></ion-icon>
        Déconnexion
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
