.errorField {
    border-bottom: #ff0062;
    
    --highlight-background: #ff0062;
}
.goodField {
border-bottom: #12eb48;
--border-color: #12eb48;
--highlight-background: #12eb48;
}
h1, h2{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0;
    margin-top: 5rem;
}

ion-content{
    --background: #f6efff;
    color: #020122;
    font-family:HindSiliguri !important;
    --background: url('../../../assets/image/fond.png') no-repeat center center / cover;
    .container{
        margin: 0 1rem 0 1rem;

        .top-row{
            text-align: center;
            h1{
                margin-top: 3rem;
                font-size: 1.5rem;
                color: white;
            }
        }

        .form{
            margin-top: 8rem;
            
            ion-item{
                --background: transparent;
                width: 85%;
                margin: auto;
                --padding-start: 0px;
            }
        }
    
        .forgot-password{
            margin-top: 8px;
            margin-right: 2rem;
            font-size: 0.8rem;
            display: block;
            text-align: end;
        }

        .login-row{
            margin-top: 1rem;
            ion-button{
                --background: linear-gradient(to left, #7353A2, #9198e5);
                margin-top: 1rem;
                width: 100%;
                font-size: 1.1rem;
                border-radius: 5px;
            }

        }

        .log-external{
            text-align: center;
            display: block;
            margin-bottom: 2rem;
            h2{
                margin-top: 2rem;
                font-weight: bold;
            }
            ion-col{
                display: flex;
                justify-content: center;
                .log{
                    padding: 5px;
                    border-radius: 10px;
                    display: flex;
                }
                .fb-connect{
                    background: #002870;
                    margin-right: 2px;
                }
                .gg-connect{
                    background: linear-gradient(228deg, #b56e25, #a50505);
                    margin-left: 2px;
                    padding: 5px;
                    border-radius: 5px;
                    display: flex;
                }
               
                ion-icon{
                    color: white;
                    font-size: 2rem;
                }

                
            }
        }
        a{
            font-size: 1rem;
            color: #020122;
        }
    }
}