
<ion-content>
  <div class="container">
    <ion-row class="top-row">
      <ion-col size="12">
          <h1>Inscription</h1>
      </ion-col>
    </ion-row>
    <ion-row class="form">
      <ion-col size="12">
        <ion-item [ngClass]="isErrorMail ? 'errorField' : 'goodField'">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" (keyup)="checkEmail()" [(ngModel)]="user.email"></ion-input>
        </ion-item>
        <ion-item [ngClass]="isErrorPassword ? 'errorField' : 'goodField'">
          <ion-label position="floating">Mot de passe</ion-label>
          <ion-input type="password" (keyup)="checkPassword()" placeholder="Min 8, 1 Maj, 1 Chiffre" [(ngModel)]="user.user_password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Pseudo</ion-label>
          <ion-input type="text" [(ngModel)]="user.user_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Date d'anniversaire</ion-label>
          <ion-input type="date" [(ngModel)]="user.birth_date"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
          <ion-button [disabled]="isErrorMail || isErrorPassword" (click)="register()" expand="full">S'inscrire</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col>
        <a routerLink="/login">Vous êtes déjà inscrit ? Connectez-vous</a>
      </ion-col>
    </ion-row>
  </div>
</ion-content>