ion-header{
    ion-toolbar{
        --background: #7353a2;
        color: white;
    }
    .top-row{
        display: flex;
        justify-content: flex-end;
        margin-right: 2rem;
        ion-button{
            margin-left: 2rem;
            --box-shadow: none;
            --background: transparent;
        }
    }
}
ion-content{
    --background: #f6efff;
    h2{
        font-size: 1.2rem;
        margin-left: 1rem;
    }
    --background: #f6efff;
    .top-row{
        margin-top: 1rem;
        ion-col{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-left: -2rem;
            ion-button{
                --background: none;
                color: #7353a2;
                border: none;
            }
        }
    }
    img{
        width: 74px;
        height: 120px;
    }
    
    ion-button{
        --background: #7353a2;
    }

    .update-pass{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .ico-pass{
            display: flex;
            justify-content: flex-end;
            ion-icon{
                font-size: 1.3rem;
            }
        }
        .inp-pass{
            display: flex;
            justify-content: left;
        }
    }
}