h2{
  margin-top: 18px;
  margin-left: 22px;
  font-weight: 600;
  font-size: 1.1rem;
}
ion-header{
  ion-toolbar{
    color: white;
    --background: #7353a2;
  }
    .top-row{
      display: flex;
      justify-content: flex-end;
      margin-right: 2rem;
      ion-icon{
        color: white;
        font-size: 2rem;
      }
    }
}
ion-content{
  .card-home-top{
    background-image: url('../../../assets/image/header-picture.jpg');
    background-size: cover;
    box-shadow: none;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    ion-card-content{
      background: #ffffff;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      padding: 0.8rem;
      align-content: center;
      align-items: center;
      align-items: center;
      margin: 0;
    }
    p{
      text-align: center;
      font-size: 10px;
    }
  }
  ion-card{
    height: 300px;
    width: 100%;
    object-fit: cover;
    background: #4F3970;
    box-shadow: 7px 4px 6px 0px #7353a2d4;
    ion-card-header{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
         img {
          width: 90%;
          object-fit: cover;
          height: 116px;
          margin-top: 0.5rem;
          border-radius: 10px;
        }
    }
    h3{
        margin-top: 15px;
        margin-bottom: 2px!important;
        font-size: 15px;
        text-align: left;
        color: #D4C2F0;
        
    }
    span{
        font-size: 0.8rem;
        color: #D4C2F0;
    }
  
  
    ion-card-content{
        margin: 0 0.7rem 0 0.7rem;
        padding-top: 0;
        display: flex;
        font-size: 11px;
        flex-direction: column;
        padding-left: 0 !important;
        padding-right: 0!important;
        
        h2{
          margin-top: 10px;
          margin-left: 0;
          font-weight: 600;
          font-size: 1rem;
          color: #D4C2F0;
        }
        .auteur{
            display: flex;
            justify-content: left;
            color: #C5C6C7;
            cite{
              font-style: normal;
              font-size: 0.8rem;
             
              display: inline-block;
              margin: left;
              color: #C5C6C7;
            }
        }
        ion-col{
            display: flex;
            
            p{
                color: white;
            }
            .toto{
                color: black;
            }
            ion-icon{
                color: yellow;
                font-size: 1rem;
            }
        }
        
        .card-footer{
          display: flex;
          align-items: center;
            ion-col{
                display: flex;
                justify-content: center;
                padding-left: 0;
                ion-icon{
                    font-size: 1.3rem;
                }
            }
            span{
                font-size: 0.8rem;
                color: #C5C6C7;
            }
        }
        .review{
            display: flex;
            span{
                font-size: 0.5rem;
                color: #C5C6C7;
            }
        }
        
        
    }
  }
}