<ion-header>
  <ion-toolbar>
    <ion-row class="top-row" size="12">
      <ion-title>Catalogue</ion-title>
      <a (click)="openCart()" #cart>
        <ion-icon name="cart-outline" class="cart-icon"></ion-icon>
      </a>
      <div class="cart-length">
        {{ cartItemCount | async }}
      </div>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
        <ion-row no-padding class="category-banner">
          <h2>
            NodeJs
          </h2>
        </ion-row>
        <ion-slides [options]="sliderConfig">
          <ion-slide class="slide1" *ngFor="let cour of coursesNode">
            <ion-card class="card-home">
            <ion-card-header class="card-body">
              <img [src]="cour.image"/>
            </ion-card-header>
            <ion-card-content>
              <div>
                <h2>{{ cour.title.substring(0, 25) }}...</h2>
              </div>
  
              <ion-row class="auteur">
                <ion-col size="12" class="ion-text-end">
                  <cite>{{ cour.author }}</cite>
                </ion-col>
              </ion-row>
              <ion-row class="card-footer">
                <ion-col size="6">
                  <ion-icon name="star-sharp" *ngIf="cour.rate >= 1 else elseBlock"></ion-icon>
                    <ng-template #elseBlock><ion-icon name="star" class="star-empty"></ion-icon></ng-template>
                    <ion-icon name="star-sharp" *ngIf="cour.rate >= 2 else elseBlock"></ion-icon>
                    <ng-template #elseBlock><ion-icon name="star" class="star-empty"></ion-icon></ng-template>
                    <ion-icon name="star-sharp" *ngIf="cour.rate >= 3 else elseBlock"></ion-icon>
                    <ng-template #elseBlock><ion-icon name="star" class="star-empty"></ion-icon></ng-template>
                    <ion-icon name="star-sharp" *ngIf="cour.rate >= 4 else elseBlock"></ion-icon>
                    <ng-template #elseBlock><ion-icon name="star" class="star-empty"></ion-icon></ng-template>
                    <ion-icon name="star-sharp" *ngIf="cour.rate >= 5 else elseBlock"></ion-icon>
                    <ng-template #elseBlock><ion-icon name="star" class="star-empty"></ion-icon></ng-template>
                </ion-col>
                <ion-col size="6">
                  <span>{{ cour.price.toFixed(2) }}€</span>
                </ion-col>
              </ion-row>
              <ion-row size="12">
                <ion-button expand="full" (click)="courComponent(cour.id)">Détails du cour</ion-button>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
  </ion-row>
  <ion-row>
        <ion-row no-padding class="category-banner">
          <h2>
            JavaScript
          </h2>
        </ion-row>
        <ion-slides [options]="sliderConfig">
          <ion-slide class="slide1" *ngFor="let cour of coursesJs">
            <ion-card class="card-home">
            <ion-card-header class="card-body">
              <img [src]="cour.image"/>
            </ion-card-header>
            <ion-card-content>
              <div>
                <h2>{{ cour.title.substring(0, 25) }}...</h2>
              </div>
  
              <ion-row class="auteur">
                <ion-col size="12" class="ion-text-end">
                  <cite>{{ cour.author }}</cite>
                </ion-col>
              </ion-row>
              <ion-row class="card-footer">
                <ion-col size="6">
                  <ion-icon name="star-sharp" *ngIf="cour.rate >= 1 else elseBlock"></ion-icon>
                    <ng-template #elseBlock><ion-icon name="star" class="star-empty"></ion-icon></ng-template>
                    <ion-icon name="star-sharp" *ngIf="cour.rate >= 2 else elseBlock"></ion-icon>
                    <ng-template #elseBlock><ion-icon name="star" class="star-empty"></ion-icon></ng-template>
                    <ion-icon name="star-sharp" *ngIf="cour.rate >= 3 else elseBlock"></ion-icon>
                    <ng-template #elseBlock><ion-icon name="star" class="star-empty"></ion-icon></ng-template>
                    <ion-icon name="star-sharp" *ngIf="cour.rate >= 4 else elseBlock"></ion-icon>
                    <ng-template #elseBlock><ion-icon name="star" class="star-empty"></ion-icon></ng-template>
                    <ion-icon name="star-sharp" *ngIf="cour.rate >= 5 else elseBlock"></ion-icon>
                    <ng-template #elseBlock><ion-icon name="star" class="star-empty"></ion-icon></ng-template>
                </ion-col>
                <ion-col size="6">
                  <span>{{ cour.price.toFixed(2) }}€</span>
                </ion-col>
              </ion-row>
              <ion-row size="12">
                <ion-button expand="full" (click)="courComponent(cour.id)">Détails du cour</ion-button>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
  </ion-row>
  <ion-row>
        <ion-row no-padding class="category-banner">
          <h2>
            SQL
          </h2>
        </ion-row>
        <ion-slides [options]="sliderConfig">
          <ion-slide class="slide1" *ngFor="let cour of coursesSql">
            <ion-card class="card-home">
            <ion-card-header class="card-body">
              <img [src]="cour.image"/>
            </ion-card-header>
            <ion-card-content>
              <div>
                <h2>{{ cour.title.substring(0, 25) }}...</h2>
              </div>
  
              <ion-row class="auteur">
                <ion-col size="12" class="ion-text-end">
                  <cite>{{ cour.author }}</cite>
                </ion-col>
              </ion-row>
              <ion-row class="card-footer">
                <ion-col size="6">
                  <ion-icon name="star-sharp" *ngIf="cour.rate >= 1 else elseBlock"></ion-icon>
                    <ng-template #elseBlock><ion-icon name="star" class="star-empty"></ion-icon></ng-template>
                    <ion-icon name="star-sharp" *ngIf="cour.rate >= 2 else elseBlock"></ion-icon>
                    <ng-template #elseBlock><ion-icon name="star" class="star-empty"></ion-icon></ng-template>
                    <ion-icon name="star-sharp" *ngIf="cour.rate >= 3 else elseBlock"></ion-icon>
                    <ng-template #elseBlock><ion-icon name="star" class="star-empty"></ion-icon></ng-template>
                    <ion-icon name="star-sharp" *ngIf="cour.rate >= 4 else elseBlock"></ion-icon>
                    <ng-template #elseBlock><ion-icon name="star" class="star-empty"></ion-icon></ng-template>
                    <ion-icon name="star-sharp" *ngIf="cour.rate >= 5 else elseBlock"></ion-icon>
                    <ng-template #elseBlock><ion-icon name="star" class="star-empty"></ion-icon></ng-template>
                </ion-col>
                <ion-col size="6">
                  <span>{{ cour.price.toFixed(2) }}€</span>
                </ion-col>
              </ion-row>
              <ion-row size="12">
                <ion-button expand="full" (click)="courComponent(cour.id)">Détails du cour</ion-button>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
  </ion-row>
  <ion-row>
        <ion-row no-padding class="category-banner">
          <h2>
            PHP
          </h2>
        </ion-row>
        <ion-slides [options]="sliderConfig">
          <ion-slide class="slide1" *ngFor="let cour of coursesPhp">
            <ion-card class="card-home">
            <ion-card-header class="card-body">
              <img [src]="cour.image"/>
            </ion-card-header>
            <ion-card-content>
              <div>
                <h2>{{ cour.title.substring(0, 25) }}...</h2>
              </div>
  
              <ion-row class="auteur">
                <ion-col size="12" class="ion-text-end">
                  <cite>{{ cour.author }}</cite>
                </ion-col>
              </ion-row>
              <ion-row class="card-footer">
                <ion-col size="6">
                  <ion-icon name="star-sharp" *ngIf="cour.rate >= 1 else elseBlock"></ion-icon>
                    <ng-template #elseBlock><ion-icon name="star" class="star-empty"></ion-icon></ng-template>
                    <ion-icon name="star-sharp" *ngIf="cour.rate >= 2 else elseBlock"></ion-icon>
                    <ng-template #elseBlock><ion-icon name="star" class="star-empty"></ion-icon></ng-template>
                    <ion-icon name="star-sharp" *ngIf="cour.rate >= 3 else elseBlock"></ion-icon>
                    <ng-template #elseBlock><ion-icon name="star" class="star-empty"></ion-icon></ng-template>
                    <ion-icon name="star-sharp" *ngIf="cour.rate >= 4 else elseBlock"></ion-icon>
                    <ng-template #elseBlock><ion-icon name="star" class="star-empty"></ion-icon></ng-template>
                    <ion-icon name="star-sharp" *ngIf="cour.rate >= 5 else elseBlock"></ion-icon>
                    <ng-template #elseBlock><ion-icon name="star" class="star-empty"></ion-icon></ng-template>
                </ion-col>
                <ion-col size="6">
                  <span>{{ cour.price.toFixed(2) }}€</span>
                </ion-col>
              </ion-row>
              <ion-row size="12">
                <ion-button expand="full" (click)="courComponent(cour.id)">Détails du cour</ion-button>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
  </ion-row>
  <ion-row>
        <ion-row no-padding class="category-banner">
          <h2>
            Symfony
          </h2>
        </ion-row>
        <ion-slides [options]="sliderConfig">
          <ion-slide class="slide1" *ngFor="let cour of coursesSymfony">
            <ion-card class="card-home">
            <ion-card-header class="card-body">
              <img [src]="cour.image"/>
            </ion-card-header>
            <ion-card-content>
              <div>
                <h2>{{ cour.title.substring(0, 25) }}...</h2>
              </div>
  
              <ion-row class="auteur">
                <ion-col size="12" class="ion-text-end">
                  <cite>{{ cour.author }}</cite>
                </ion-col>
              </ion-row>
              <ion-row class="card-footer">
                <ion-col size="6">
                  <ion-icon name="star-sharp" *ngIf="cour.rate >= 1 else elseBlock"></ion-icon>
                    <ng-template #elseBlock><ion-icon name="star" class="star-empty"></ion-icon></ng-template>
                    <ion-icon name="star-sharp" *ngIf="cour.rate >= 2 else elseBlock"></ion-icon>
                    <ng-template #elseBlock><ion-icon name="star" class="star-empty"></ion-icon></ng-template>
                    <ion-icon name="star-sharp" *ngIf="cour.rate >= 3 else elseBlock"></ion-icon>
                    <ng-template #elseBlock><ion-icon name="star" class="star-empty"></ion-icon></ng-template>
                    <ion-icon name="star-sharp" *ngIf="cour.rate >= 4 else elseBlock"></ion-icon>
                    <ng-template #elseBlock><ion-icon name="star" class="star-empty"></ion-icon></ng-template>
                    <ion-icon name="star-sharp" *ngIf="cour.rate >= 5 else elseBlock"></ion-icon>
                    <ng-template #elseBlock><ion-icon name="star" class="star-empty"></ion-icon></ng-template>
                </ion-col>
                <ion-col size="6">
                  <span>{{ cour.price.toFixed(2) }}€</span>
                </ion-col>
              </ion-row>
              <ion-row size="12">
                <ion-button expand="full" (click)="courComponent(cour.id)">Détails du cour</ion-button>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
  </ion-row>
  
</ion-content>